@import "helper";
@import "form";
@import "login_register";
@import "adminbar";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.active, .btn:hover {
  background-color: rgb(29, 28, 28);
  color: white;
}