<template>
    <div>
        <header>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
            <div>
                <h2>{{ this.connectedUser.name }}</h2>
<!--                <h3>Last seen on</h3>-->
            </div>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
        </header>
        <div id="message-box">
            <ul id="chat">
                <li v-for="message in messages.data" v-bind:class="{'me':message.sender_id === user.id,'you':message.sender_id !== user.id}">
                    <div class="entete">
                        <span class="status green"></span>
                        <h3>{{ message.created_at }}</h3>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        {{ message.message}}
                    </div>
                </li>
            </ul>
        </div>
        <footer>
            <textarea placeholder="Type your message" v-model="message" @keyup.enter="sendMessage()"></textarea>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
            <a href="#" @click="sendMessage()">Send</a>
        </footer>
    </div>
</template>

<script>
export default {
    name: "ChatBox",
    props:['user','tokenData'],
    data(){
        return {
            messages: [],
            message: '',
            token: '',
            connectedUser: {}
        }
    },
    mounted(){
        this.token = this.tokenData.original.access_token;
        this.getMessages();
        this.getConnectedUser();
        Echo.connector.options.auth.headers['Authorization'] = 'Bearer ' + this.token;
        this.listen();
    },
    updated(){
        this.scrollToBottom();
    },
    watch:{
        '$route.params.id': function(){
            this.getMessages();
            this.getConnectedUser();
        }
    },
    methods:{
        getMessages(){
            axios.get('/api/messenger/get-message/'+this.$route.params.id,{
                headers:{
                    'Authorization': "Bearer "+this.token,
                    'Content-Type': "application/x-www-form-urlencoded"
                }
            }).then((response) => {
                this.messages = response.data;
            });
        },
        getConnectedUser(){
            axios.get('/api/messenger/connected-user/'+this.$route.params.id,{
                headers:{
                    'Authorization': "Bearer "+this.token,
                    'Content-Type': "application/x-www-form-urlencoded"
                }
            }).then((response) => {
                this.connectedUser = response.data;
            });
        },
        sendMessage(){
            axios.get('/api/messenger/send-message',{
                headers:{
                    'Authorization': "Bearer "+this.token,
                    'Content-Type': "application/x-www-form-urlencoded"
                },
                params: {
                    message: this.message,
                    message_thread_id: this.$route.params.id
                }
            }).then((response) => {
                this.message = '';
                this.messages.data.push(response.data.message);
                this.scrollToBottom();
            });
        },
        listen() {
            Echo.private('new.message.' + this.user.id)
                .listen('MessageSent', (response) => {
                    this.handleMessage(response);
                });
        },
        handleMessage(response){
            if(parseInt(response.thread.id) === parseInt(this.$route.params.id)){
                this.messages.data.push(response.message);
            }
            this.scrollToBottom();
        },
        scrollToBottom(){
            var container = this.$el.querySelector("#message-box");
            container.scrollTop = container.scrollHeight;
        }
    }
}
</script>

<style scoped>
#message-box{
    overflow-y:scroll;
}
</style>
