<template>
    <div>
        <ul>
            <li v-for="thread in threads">
                <router-link v-bind:to="{name:'ThreadMessage',params:{ id: thread.id}}">
                    <div>
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
                        <div>
                            <h2>{{ thread.user_from.id === user.id ? thread.user_to.name : thread.user_from.name }}</h2>
                            <h3>
                                <span class="status orange"></span>
                                offline
                            </h3>
                        </div>
                    </div>
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "Users",
    props:['user', 'tokenData'],
    data(){
        return {
            threads: [],
            token: '',
        }
    },
    created(){
    },
    mounted(){
        this.token = this.tokenData.original.access_token;
        this.getConnectedUsers();
        // Echo.connector.options.auth.headers['Authorization'] = 'Bearer ' + this.token;
        this.listen();
    },
    methods:{
        getConnectedUsers(){
            axios.get('/api/messenger',{
                headers:{
                    'Authorization': "Bearer "+this.token,
                    'Content-Type': "application/x-www-form-urlencoded"
                }
            }).then((response) => {
                this.threads = response.data;
            });
        },
        selectThread(threadId){
        },
        listen() {
            Echo.private('new.message.' + this.user.id)
                .listen('MessageSent', (response) => {
                    this.handleMessage(response);
                });
        },
        handleMessage(response){
        }
    }
}
</script>

<style scoped>

</style>
